WP_PATH=/var/www/localhost
MARIADB_HOST=mariadb
MARIADB_USER=CHANGE_NAME_1
MARIADB_PASSWORD=CHANGE_PASS_1
MARIADB_DATABASE=CHANGE_NAME_2
MARIADB_ROOT_PASS=CHANGE_PASS_2
TABLE_PREFIX=wp_
REDIS_HOST=redis
USERPATH=PLACEHOLDER_HOME